.input-field .btn {
  height: 2rem;
  height: 22px;
  width: 37px;
  margin-top: 14px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  float: right;
  box-shadow: none;
}

.input-field i.material-icons {
  line-height: 1;
}

.input-field input[type='search'] {
  width: 100%;
  color: white;
  border-bottom: 1px solid white;
  box-shadow: none;
  padding-left: 0;
  margin-top: 22px;
  height: 1rem;
}

.input-field input[type='search']:focus {
  background-color: #29b6f6 !important;
}

.card-label {
  margin-left: 2px;
}

#EpubSearchCards {
  margin-top: 20px;
}

.card .card-content .card-title {
  font-size: 12px;
  line-height: 13px;
}

.page-footer {
  position: fixed;
  bottom: 0px;
  display: table;
  width: 100%;
  padding-top: 8px;
}

.page-footer .row {
  margin-bottom: 0px;
}

.circle-clipper .circle {
  border-color: white;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: transparent !important;
  border-left-color: white;
  border-bottom-color: transparent !important;
}

#EpubSearchForm #searchInput .material-icons {
  color: rgba(255, 255, 255, 1);
}

#EpubSearchForm #searchInput:focus {
  border-bottom: 1px solid white;
  color: white;
}

#EpubSearchForm #searchInput:focus .material-icons {
  color: rgba(255, 255, 255, 1);
}

#EpubSearchForm .input-field input[type='search']:focus + label i,
#EpubSearchForm .input-field input[type='search']:focus ~ .mdi-navigation-close,
#EpubSearchForm .input-field input[type='search']:focus ~ .material-icons {
  color: rgba(255, 255, 255, 1);
}

#EpubSearchForm .input-field input[type='search'] ~ .mdi-navigation-close,
.input-field input[type='search'] ~ .material-icons {
  right: 2rem;
}

#EpubSearchFooter .blue {
  background-color: #29b6f6;
}

#EpubSearchFooter .spinner-blue-only {
  border-color: #fff;
}

#EpubSearchForm > div > button {
  top: 0;
  right: 0;
  position: absolute;
  width: 26px;
  height: 50px;
  box-shadow: none;
  margin-left: 45px;
  padding-left: 33px;
}
