<div>
  <footer class="page-footer light-blue lighten-1" id="legacyToolBarCanvas">

    <div class="container flow-text">

      <div class="row">

        <!-- <div class="col s2 center-align"> -->
        <div class="col s4 m4 center-align">

          <a href='javascript:void(0)' class='white-text dropdown-button' (click)="openCanvasModal()" aria-label="Pincel">
            <i class="dropdown-button material-icons waves-effect" aria-hidden="true">brush</i>
          </a>
        </div>

        <div class="col s4 m4 center-align">
          <a href='javascript:void(0);' id="rubber" class="white-text waves-effect " aria-label="Borracha" #eraser>
            <img src="assets/images/eraser.png" width="24" height="24">
          </a>
        </div>

        <!-- <div class="col s2 center-align"> -->
        <div class="col s4 m4 center-align">
          <a href='javascript:void(0);' class="white-text" (click)="clear()" aria-label="Limpar">
            <i class="material-icons waves-effect" aria-hidden="true">delete</i>
          </a>
        </div>

      </div>

    </div>

  </footer>
  <app-canvas-modal></app-canvas-modal>
</div>
