.page-footer {
    z-index: 2;
    position: fixed;
    bottom: 0;
    display: table;
    width: 100%;
    padding-top: 8px;
}

.page-footer .row {
    margin-bottom: 0;
}

#rubber.active {
    opacity:0.5;
}
