<div class="row">
    <div class="col s6 m3 left-align" style="margin-right: 5px;">
        <button  aria-label="Ativar pesquisa" [disabled]="!searchAvailable" style="border:none; background: transparent; display: inline-block;"
        id="pog"
        (click)="activeSearch()"><i aria-hidden="true" class="material-icons"
                                                                      id="startSearch"
                                                                      [ngClass]="{'active': searchAvailable, 'disabled': !searchAvailable}"
                                                                      >search</i></button>
        <a href="javascript:void(0);" aria-label="Pesquisar"><i aria-hidden="true" class="material-icons"
                                                                id="completeSearch" (click)="search()">check</i></a>
    </div>
    <div id="word-navigation" class="col s12">
        <a href="javascript:void(0);" id="prev-word" class="left" aria-label="Voltar" (click)="changePage('prev')"><i
            aria-hidden="true" class="material-icons">arrow_back</i></a>
        <a href="javascript:void(0);" id="next-word" class="left" aria-label="Avançar" (click)="changePage('next')"><i
            aria-hidden="true" class="material-icons">arrow_forward</i></a>
    </div>
</div>
