<div class="login-container">

  <div class="login-form-div">

    <form (ngSubmit)="postLogin()" #loginForm="ngForm">

      <ul class="form-login-items">

        <li class="item-logo" id="clientLogo">
          <img src="assets/images/logo.png" width="140">
        </li>

        <li class="input-field col s6">
          <i class="material-icons prefix" aria-hidden="true">perm_identity</i>
          <input id="login" type="text" name="login" class="validate" [(ngModel)]="LoginPost.login" #login="ngModel" required aria-label="Login">
          <label for="login" aria-hidden="true">Login</label>

          <!-- <div *ngIf="login.invalid && (login.dirty || login.touched)" class="alert alert-danger">
                    Informe o seu login
                </div> -->

        </li>

        <li class="input-field col s6">
          <i class="material-icons prefix" aria-hidden="true">lock</i>
          <input id="password" type="password" name="password" class="validate" [(ngModel)]="LoginPost.password" #password="ngModel"
            required>
          <label for="password" aria-hidden="true">Senha</label>
          <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    Informe o sua senha
                </div> -->
        </li>

        <li>
          <div class="switch">
            <label class="label-switch">
              <input type="checkbox" [(ngModel)]="LoginPost.remember" name="remember">
              <span class="lever"></span>
              Salvar dados
            </label>
          </div>
        </li>

        <li class="break-line">&nbsp;</li>

        <li class="right-align" style="padding-top:2%;">
          <div class="row">
          <div *ngIf="forgot_password_link">
            <button type="button" (click)="forgotPassword(forgot_password_link)" class="waves-effect waves-light btn light-blue col s12 m5 offset-m1 pull-m1 l3 pull-l1 offset-l1" style="margin-bottom: 1em">
              Esqueci minha senha
            </button>
          </div>
          <button class="waves-effect waves-light btn light-blue col s12 m2 push-m4 l2 push-l6" type='submit' [disabled]="!loginForm.form.valid || isBtnLoginDisabled">
            <!-- Iniciar &nbsp; <app-component-preloader></app-component-preloader> -->
            <span>Iniciar &nbsp;
              <img src='assets/ajax-loader.gif' *ngIf="isBtnLoginDisabled" id="login-loader">
            </span>
          </button>
          </div>
        </li>

      </ul>
    </form>
  </div>


</div>
