<div id="{{ id }}" class="modal">

    <div class="navbar-fixed">
        <nav class="row">
            <div class="modal-title col s10 m10 l10">{{ title }}</div>
            <a href="javascript:void(0);" class="modal-action modal-close right-align col s2 m2 l2" aria-label="Fechar">
                <i class="material-icons" aria-hidden="true">close</i>
            </a>
        </nav>
    </div>

  <div class="modal-content">
    <div class="row">

      <div class="col s12 m12">

          <div class="col s2">
            <i class="material-icons" aria-hidden="true">chat_bubble_outline</i>
          </div>

          <div class="col s10">
            <a href='javascript:void(0)' (click)="callExternalApp()" class="black-text">
              Anotações</a>
          </div>

      </div>

      <!-- <div class="col s12 m12">

          <div class="col s2">
            <i class="material-icons">link</i>
          </div>

          <div class="col s10">
            <a href="javascript:void(0);" class="black-text">Links</a>
          </div>

      </div> -->

      <!-- <div class="col s12 m12">

          <div class="col s2">
            <i class="material-icons">mode_edit</i>
          </div>

          <div class="col s10">
            <a href="javascript:void(0);" class="black-text">Realçar texto</a>
          </div>

      </div> -->

    </div>
  </div>

</div>
