<div class="row">
    <div class="input-field col s12">
        <input [value]="value" class="validate" id="search" (keyup)="search($event)" type="text">
        <label for="search" aria-hidden="true">Toque para pesquisar</label>
    </div>
</div>
