#canvasHotspot {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#53535300;
}

#userRect {
    width: 0;
    height: 0;
    position: absolute;
    background-color: #FFFF00;
    opacity: 0.6;
}

app-legacy-hotspot-container {
    position: absolute;
    width: 100%;
    height: 100%;
}
