<div id="{{ id }}" class="modal">
    <div class="navbar-fixed">
        <nav class="row">
            <div class="modal-title col s10 m10 l10">{{ title }}</div>
            <a href="javascript:void(0);" class="modal-action modal-close right-align col s2 m2 l2" aria-label="Fechar">
                <i class="material-icons" aria-hidden="true">close</i>
            </a>
        </nav>
    </div>
  <div class="modal-content">
    <div id="cortina">
      <div class="label">
        <img src="assets/images/courtain.png" alt="Icone de cortina" class="left">
        <span class="left"><strong>Cortina</strong></span>
        <div class="clearfix"></div>
      </div>
      <div id="open-cortina" class="right">
        <div class="switch">
          <label><input type="checkbox" id="lever" (click)="slideLever()">
            <span class="lever"></span></label>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div id="rabisco" (click)="openScribble()">
      <div class="label">
      <img src="assets/images/pencil.png" alt="Icone de rabisco" class="left" width="24" height="24">
      <span class="left"><strong>Rabisco</strong></span>
      <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
