.canvas-modal {
    width: 20em !important;
    height: 16em;
}
ul {
    margin-left: 10%;
}
.list-label {
    width: 78px;
    color: black;
    font-weight: bold;
    font-size: 1em;
}
.active {
    border: 2px solid #000000;
}

.colors li {
    list-style: none;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    margin: 0.5em 0.5em -0.5em 0.5em;
    display: inline-block;
}

.thickness .list-label {
    background: transparent;
    margin: 0;
}

.thickness {
    margin-left: -1.4em;
}

.thickness li {
    list-style: none;
    background-color: #999999;
    display: inline-block;
    margin-left: 1em;
}

.smaller {
    width: 2em;
    height: 2px;
}

.normal {
    width: 2em;
    height: 4px;
}

.large {
    width: 2em;
    height: 6px;
}

