<div id="{{ id }}" class="canvas-modal modal modal-fixed-footer">

    <div class="modal-content">
        <ul class="colors">
            <li class="right-align list-label">Cor</li>
            <li data-config="#ff0000" class="red active"></li>
            <li data-config="#0000ff" class="blue"></li>
            <li data-config="#008000" class="green"></li>
        </ul>
        <ul class="thickness">
            <li class="right-align list-label">Espessura</li>
            <li data-config="small" class="smaller"></li>
            <li data-config="normal" class="normal active"></li>
            <li data-config="large" class="large"></li>
        </ul>
    </div>

    <div class="modal-footer">
        <a href="javascript:void(0);" (click)="apply()"
           class="modal-action modal-close waves-effect waves-green btn-flat">
            Aplicar
        </a>
    </div>
</div>
