.contrast,
.contrast nav,
.contrast div,
.contrast li,
.contrast ol,
.contrast header,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast article {
    background: black !important;
    color: white !important;
}
.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast u,
.contrast span {
    color: white !important;
}

.contrast a{
    color: yellow !important;
}
.contrast img {
    filter: grayscale(100%) contrast(120%);
}
.sepia {
    background: #E3B98F !important;
}
.sepia-background-filter {
}
#app-container {
    overflow: hidden;
    height: 100%;
}

#reading-area {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#epub-reader-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 20px;
    overflow: hidden;
}
#epub-reader-frame{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: auto;

    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

#reflowable-book-frame   {
    position: absolute !important;
    left:0;
    top:10px;
    right:0;
    bottom:5px;
}
#left-page-btn {

    left: 0;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

#left-page-btn:hover
{
    opacity: 1.0;
    color: white;
    background-color: rgba(0,0,0,0.2);
}
#right-page-btn {

    right: 0;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

/* #right-page-btn:focus, */
#right-page-btn:hover
{
    opacity: 1.0;
    color: white;
    background-color: rgba(0,0,0,0.2);
}
.class-switch-overlay-icon {

    overflow: hidden;
    display: block;
    position: fixed;

    top: 20%;
    bottom: 20%;

    opacity: 0.3;

    z-index: 99 !important;

    border: none !important;

    padding: 0;
    margin: 0;
    padding-top: 0.2em;
    padding-bottom: 0.44em;

    font-size: 40px;

    background-color: rgba(255,255,255,0.5);
    color: black;

}
#epub-wrap {
    overflow-y: scroll;
}
iframe::-webkit-scrollbar {
  display: none !important;
}
