<div class="fakeloader"></div>
<div id="app-container" #appContainer>
    <div id="reading-area" #readingArea>
        <div id="epub-reader-container" #epubReaderContainer>
            <div id="reflowable-book-frame" class="book-frame reflowable-book-frame" #banshinho>
                <div id="epub-reader-frame" #epubReaderFrame>
                    <iframe id="epub-wrap" [src]='EpubHTML' frameborder="0" scrolling='no' width="100%" height="100%"
                            [attr.aria-hidden]="aria" #iframe></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="page-btns" *ngIf="isDesktop">
    <button id="left-page-btn" class="class-switch-overlay-icon" (click)="navigatePages('prev')">
                <span id="prevPage">
                    <i class="material-icons large">arrow_back</i>
                </span>
    </button>
    <button id="right-page-btn" class="class-switch-overlay-icon" (click)="navigatePages('next')">
                <span id="prevPage">
                    <i class="material-icons large">arrow_forward</i>
                </span>
    </button>
</div>
