<ul id="slide-out" class="side-nav" [attr.aria-hidden]="aria">
  <li>
    <app-shelf-user-info-component></app-shelf-user-info-component>
  </li>
  <li>
    <div class="divider"></div>
  </li>

  <app-shelf-component-menu></app-shelf-component-menu>

  <!--<li><a class="subheader">Subheader</a></li>-->

  <li>
    <a (click)="exit()" class="waves-effect" id="exit">
      <i class="material-icons" aria-hidden="true">power_settings_new</i>Sair</a>
  </li>

  <li style="position:absolute; bottom:8%; width:100%; text-align:center;">
    <img src="assets/images/logo.png" width="200" alt="{{client}}">
  </li>
</ul>
