<div class="modal modal-fixed-footer" id="PromptModal">
    <div class="modal-content">
        <h6>{{title}}</h6>
        <p>
            <input type="text" id="promptInput">
        </p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat" title="Cancelar" id="promptCancel">
            Cancelar
        </a>
        <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat" title="Salvar" id="promptOk">
            Ok
        </button>
    </div>
</div>
