<div [hidden]="tapped" id="legacyFooter" #legacyFooter >
  <footer class="page-footer light-blue lighten-1" >

    <div class="footer container">

      <div class="row">

        <div class="col s3 m3 l3 center-align">
          <a href='javascript:void(0);' (click)="openSummary()" class="white-text" aria-label="Sumário de capítulos e tópicos">
            <i class="material-icons" aria-hidden="true">list</i>
          </a>
        </div>

        <div class="col s3 m3 l3 center-align">
          <a href='javascript:void(0);' (click)="openPagination()" class="white-text" aria-label="Ir para uma página">
            <i class="material-icons" aria-hidden="true">view_carousel</i>
          </a>
        </div>
        <div class="col s3 m3 l3 center-align">
          <a href='javascript:void(0);' (click)="openAnnotation()" class="white-text" aria-label="Notas">
            <i class="material-icons" aria-hidden="true">note_add</i>
          </a>
        </div>
        <div class="col s3 m3 l3 center-align" *ngIf="client !== 'alfacon'">
          <a href='javascript:void(0);' (click)="openCortina()" class="white-text" aria-label="Apresentação">
            <img src="assets/images/modal-rc.png" alt="Rabisco e Cortina" title="Abrir modal rabisco e cortina">
          </a>
        </div>

        <div class="col s3 l3 center-align" id="teacherButton" *ngIf="client !== 'alfacon'">
          <a href='javascript:void(0);' (click)="toggleTeacherLayer()" class="white-text" aria-label="">
            <i class="material-icons" id="teacherLayerIconTxt" aria-hidden="true">layers_clear</i>
          </a>
        </div>


      </div>

    </div>

  </footer>
</div>

<app-summary></app-summary>
<app-annotation></app-annotation>
<app-pagination></app-pagination>
<app-teacher-layer></app-teacher-layer>
<app-presentation></app-presentation>
<app-curtain-scribble></app-curtain-scribble>
