.page-footer {
  z-index: 3;
  position: fixed;
  bottom:0px;
  display: table;
  width: 100%;
  padding-top: 8px;
}

.page-footer .row {
  margin-bottom: 0px;
  display: flex;
}

.page-footer .row .col {
  width: auto;
  float: none;
  flex-grow: 1;
}

#teacherButton {
  display: none;
}