<div [id]="id" class="modal modal-fixed-footer" role="dialog">

    <div class="navbar-fixed">
        <nav class="row">
            <div class="modal-title col s10 m10 l10">{{ title }}</div>
            <a href="javascript:void(0);" class="modal-action modal-close right-align col s2 m2 l2" aria-label="Fechar">
                <i class="material-icons" aria-hidden="true">close</i>
            </a>
        </nav>
    </div>

    <div class="modal-content">

        <div class="row">
            <div class="col s3"><img class="responsive-img" src="{{ getBookCover(book) }}"
                                     onError="this.src='assets/images/default.png';"></div>
            <div class="col s9"><h6 class="valign-wrapper">{{ book.book_title }}</h6></div>
        </div>

        <div class="row">
            <div class="col s12 title">Autor(es)</div>
            <div class="col s12">{{ book.book_author }}</div>
        </div>

        <div class="row">
            <div class="col s12 title">Disciplina</div>
            <div class="col s12">{{ book.book_discipline }}</div>
        </div>

        <!-- <div class="row">
          <div class="col s12 title">Data de Expiração</div>
          <div class="col s12">{{ book.book_expiration_date }}</div>
        </div> -->

        <div class="row">
            <div class="col s12 title">Instalações Disponíveis</div>
            <div class="col s12">{{ book.book_available_installations }}</div>
        </div>

        <div class="row">
            <div class="col s12 title">Lista de Dispositivos</div>
            <div class="col s12">{{ book.book_installed_devices }}</div>
        </div>

        <div class="row">
            <div class="col s12 title">ID da obra</div>
            <div class="col s12">{{ book.book_led_id }} - {{ book.last_version }} - {{ book.book_publisher_id }}</div>
        </div>

    </div>
    <div class="modal-footer" *ngIf="isBookDownloaded(book)">
        <a aria-label="Desinstalar obra" href="javascript:void(0)"
           class="waves-effect waves-light small btn-flat red grey-text text-lighten-5" (click)="uninstallBook()">
            <i class="material-icons" aria-hidden="true">delete_forever</i>
        </a>
    </div>
</div>
