#curtain {
    position: fixed;
    background-color: #87CEEB;
    z-index: 998;
}

.common-edges {
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 10px;
}

#edge-top {
    top: 0;
    right: 50%;
    cursor: ns-resize;
}

#edge-left {
    left: 0;
    top: 40%;
    height:200px;
    cursor: ew-resize;
}

#edge-bottom {
    bottom: 0;
    right: 50%;
    cursor: ns-resize;
}

#edge-right {
    top: 40%;
    right: 0;
    height:200px;
    cursor: ew-resize;

}

#edge-se {
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}

#edge-sw {
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(95deg);
    cursor: nesw-resize;
}

#edge-ne {
    top: 0;
    right: 0;
    -webkit-transform: rotate(-95deg);
    cursor: nesw-resize;

}

#edge-nw {
    top: 0;
    left: 0;
    -webkit-transform: rotate(170deg);
    cursor: nwse-resize;
}

#draggable {
    position: absolute;
    bottom: 50%;
    right: 50%;
    border:1px solid black;
    border-radius: 16px;
    cursor: pointer;

}

#close {
    position: absolute;
    bottom: 60%;
    right: 60%;
    border:1px solid black;
    border-radius: 16px;
    cursor: pointer;

}
