<div *ngIf="isEnable"
     #curtain
     id='curtain'
     [style.top.px]='y'
     [style.left.px]='x'
     [style.width.px]='width'
     [style.height.px]='height'
     (mousedown)='onWindowPress($event)'
     (mousemove)='onWindowDrag($event)'>
    <div (mousedown)='onCornerClick($event, topResize)' id="edge-top" class="common-edges" style="background: url('assets/images/curtain/hsizegrip.png') no-repeat;"></div>
    <div (mousedown)='onCornerClick($event, leftResize)' id="edge-left" class="common-edges" style="background: url('assets/images/curtain/vsizegrip.png') no-repeat;"></div>
    <div (mousedown)='onCornerClick($event, bottomResize)' id="edge-bottom" class="common-edges" style="background: url('assets/images/curtain/hsizegrip.png') no-repeat;"></div>
    <div (mousedown)='onCornerClick($event, rightResize)' id="edge-right" class="common-edges" style="background: url('assets/images/curtain/vsizegrip.png') no-repeat;"></div>
    <div (mousedown)='onCornerClick($event, bottomRightResize)' id="edge-se" class="common-edges" style="background: url('assets/images/curtain/wingrip.png') no-repeat;"></div>
    <div (mousedown)='onCornerClick($event, topRightResize)' id="edge-ne" class="common-edges" style="background: url('assets/images/curtain/wingrip.png') no-repeat;"></div>
    <div (mousedown)='onCornerClick($event, topLeftResize)' id="edge-nw" class="common-edges" style="background: url('assets/images/curtain/wingrip.png') no-repeat;"></div>
    <div (mousedown)='onCornerClick($event, bottomLeftResize)' id="edge-sw" class="common-edges" style="background: url('assets/images/curtain/wingrip.png') no-repeat;"></div>
    <i class="material-icons" id="close" (click)="close()" >close</i>
    <i class="material-icons" id="draggable" >pan_tool</i>
</div>
