#wrapper {
    position: absolute;
	left: 0;
	width: 100%;
    overflow: hidden;
    top: 6%;
    bottom: 2%;
}
#no-books {
    font-size:1em; display: inline-block; position:absolute; left:0; right: 0; margin-right: auto; margin-left: auto; margin-top: 10%; line-height:1em;
}
@media(max-width: 320px) {
    #wrapper {
        top: 8%;
        bottom: 8%;
    }
}

@media(max-width: 1800px) {
    #wrapper {
        top: 7%;
        bottom: 3%;
    }
}

#scroller {
	width: 100%;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
