<app-shelf-sidenav-component></app-shelf-sidenav-component>
<app-shelf-navbar-component></app-shelf-navbar-component>
<div data-role="books" class="section" [id]="wrapperDivId" #wrapper>
    <div [id]="scrollableDivId">
        <app-component-pre-loader *ngIf="isLoadingActive"></app-component-pre-loader>
        <div class="row">
            <div *ngIf="bookList.size == 0" class="card">
                <div class="card-stacked">
                    <div class="card-content col s12 m12 l12">
                        <div class="card-title">
                            <span class="badge" id="no-books">
                                NÃO HÁ LIVROS DISPONÍVEIS
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <app-shelf-book-list [bookList]="bookList"
            [bookShelfStatus]="bookShelfStatus"
            [bookDownloadProgress]="bookDownloadProgress"
            [bookUpgradeable]="bookUpgradeable"
            [emptyBookImage]="emptyBookImage">
            </app-shelf-book-list>
        </div>
    </div>
    <app-book-info [bookShelfStatus]="bookShelfStatus"></app-book-info>
    <app-shelf-toolbar-component></app-shelf-toolbar-component>
</div>
