<div *ngFor="let book of bookList; index as i;" class="col s12 m6 l3">
    <div class="card" #bookCard>
        <div class="card-stacked">
            <div class="card-content col s8 m8 l8">
                <p class="max-lines">
                    <a href="javascript:void(0)" class="title" (click)="goToBook(book)" id="book-{{book.book_led_id}}" [innerHtml]="book.book_title"></a>
                </p>
                <small class="description">{{ book.book_discipline }}</small>
            </div>
            <div class="card-image col s4 m4 l4">
                <div class="center-align float">
                    <!--<img alt="Capa" src='assets/ajax-loader.gif'  class="book-loader disabled-img" aria-label="Capa" *ngIf="showLoader(book)" id="book-load-{{book.book_led_id}}">-->
                    <div class="preloader-wrapper small active book-loader" *ngIf="showLoader(book)" id="book-load-{{book.book_led_id}}">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>
                    </div>

                    <a href="javascript:void(0)" id="book-{{!bookStatus ? book.book_led_id : book.id}}" (click)="goToBook(book)" #bookLink>
                        <img alt="Capa" [src]="getBookUrl(book)" class="responsive-img"
                        aria-label="Capa" (error)="errorHandler($event)" id="book-cover-{{book.book_led_id}}" #bookCover>
                    </a>
                </div>

                <div class="progress" *ngIf="bookShelfStatus[book.book_led_id] == 'baixando'" aria-label="Carregando">
                    <div class="determinate" [id]="book.book_led_id" [style.width.%]="bookDownloadProgress[book.book_led_id]"></div>
                </div>

            </div>
        </div>

        <div class="card-action">
            <a class="info btn" href="javascript:void(0)" (click)="bookInfo.emit(book)" aria-label="Informações da obra">
                <i class="material-icons" aria-hidden="true">info</i>
            </a>
            <a *ngIf="bookShelfStatus[book.book_led_id] == 'novo'" class="right cloud btn open-book" href="javascript:void(0)" (click)="goToBook(book)">
                <i class="material-icons" aria-label="Baixar">cloud_download</i>
            </a>
            <a *ngIf="bookUpgradeable[book.book_led_id]" class="right cloud btn open-book" href="javascript:void(0)">
                <span class="badge" [innerHtml]="'ATUALIZÁVEL'"></span>
            </a>
            <a *ngIf="!isAuthorizedBook(book.book_status)" class="right cloud btn open-book" href="javascript:void(0)">
                <span class="badge" [innerHtml]="'Indisponível'"></span>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
