.disabled-img {
    opacity: 0.4;
}

.card-action i {
    font-size: 2rem;
    opacity: 0.8;
}

.card-action .btn {
    box-shadow: none;
}

.card-action a {
    background-color: #fff;
    color: #29b6f6;
}
.card-action .btn.disabled {
    background-color: #fff !important;
}

.progress {
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 85%;
}

.card-stacked {
    display: flex;
}

.card-content,
.card-action {
    padding: 5px 10px;
}

.max-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1.5em;
    max-height: 4.5em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3em;
}

.book-loader {
    position: absolute !important;
    z-index: 999;
    margin: inherit;
    text-align: center;
    top: 40%;
    left: 35%;
}

.card-image {
    width: 100%;
    padding-bottom: 50%;
    overflow: hidden;
    position: relative;
}

.card-image img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:block;
    margin:auto;
}
.card-action .badge {
    font-size: 0.8em;
    display: block;
    position: relative;
    left: 14%;
}
