<a href='javascript:void(0)' class="dropdown-button" [id]="id" [attr.data-activates]="idContent"
   aria-label="Opções">
  <i class="material-icons waves-effect" aria-hidden="true">more_vert</i>
</a>

<!-- Dropdown Structure -->
<ul id="{{idContent}}" class="dropdown-content">
  <li>
    <a href='javascript:void(0);' aria-label="Informações da Obra">
      Informações da Obra
    </a>
  </li>
  <li>
    <a href='javascript:void(0);' aria-label="Sincronizar com o servidor">
      Sincronizar com o servidor
    </a>
  </li>
  <li>
    <a href='javascript:void(0);' aria-label="Ajuda">
      Ajuda
    </a>
  </li>
</ul>
