<div id="{{ id }}" class="pagination-modal modal">

    <div class="navbar-fixed">
        <nav class="row">
            <div class="modal-title col s10 m10 l10">{{ title }}</div>
            <a href="javascript:void(0);" class="modal-action modal-close right-align col s2 m2 l2" aria-label="Fechar">
                <i class="material-icons" aria-hidden="true">close</i>
            </a>
        </nav>
    </div>

    <div class="modal-content">
    <div class="row">

      <div class="col s4">
        <span class="title">Página:</span>
      </div>
      <form (submit)='changePage()'>

        <div class="col s5">
          <div class="input-field inline">
            <input type="text" (keyup)="isValid($event)"  name="page" id="paginationInputNumber" #paginationInputNumber>
          </div>
        </div>

        <div class="col s3">
          <a class="waves-effect waves-teal modal-close" href='javascript:void(0)' (click)='changePage()'>
              <i class="material-icons right" aria-hidden="true">send</i>
            </a>
        </div>

      </form>

    </div>
  </div>

</div>
