.pagination-modal {
    width: 20em !important;
}

.modal-content .row {
    max-width: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.modal-content .row .col {
    padding: 0;
}

.modal-content .row .input-field {
    margin-top: 0px;
}

.modal-content .row .input-field input {
    height: 1rem;
}

.modal-content .row .btn {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    height: auto;
    line-height: 1rem;
}

.modal-content .row .btn i {
    color: #29b6f6;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
