label {
  color: black;
  font-weight: bolder;
}

.btn {
  margin-top: 5px;
}

#inputSpace {
    max-width: 50px;
    text-align: right;
}

#inputNumberWrap {
  display: none;
}

#marginBeforeRange {
  margin-bottom: 32px;
}
