<div id="{{ id }}" class="modal">

    <div class="navbar-fixed">
        <nav class="row">
            <div class="modal-title col s10 m10 l10">{{ title }}</div>
            <a href="javascript:void(0);" class="modal-action modal-close right-align col s2 m2 l2" aria-label="Fechar">
                <i class="material-icons" aria-hidden="true">close</i>
            </a>
        </nav>
    </div>

  <div class="rangeRadios modal-content left-align">

    <div class="col s12 m12">
      <p class="">
        Indique a estratégia de uso de espaço de armazenamento que você deseja:
      </p>
    </div>
    <div class="col s12 m12">
      <input name="group1" type="radio" id="noLimit" [checked]="isLimitlessChecked" />
      <label for="noLimit" class="">Sem limite</label>
      <p style="margin-bottom: 32px;" id="marginBeforeRange">As obras baixadas poderão ocupar todo o espaço de armazenamento disponível.
      </p>
    </div>
    <div class="col s12 m12">
      <input name="group1" type="radio" id="yesLimit" [checked]="isLimitChecked" />
      <label for="yesLimit" class="">Limitada</label>
    </div>
    <div class="col s12 m12">
      <p class="">Limita o espaço ocupado das obras baixadas ao valor informado.
      </p>
    </div>

    <div id="inputSpaceWrap" style="display: none;">
      <div class="col s4 m4">
        <input id="inputSpace" type="number" min="{{minSpace}}" value="{{space}}">
        <span>MB</span>
        <span>(mínimo {{minSpace}} MB)</span>
      </div>

    </div>

    <div id="buttonChangeLimitWrap" class="col s12 center" style="display: none;">

      <a class="waves-effect btn left-align" (click)="okClick()">Ok</a>




    </div>
  </div>
</div>
