<div class="row align-center">
    <div class="col s12 m12 l12">
        <div class="container" id="audioPlayer">
            <div class="player" id="player">
                <div class="player-action-buttons col s2 m2 l2 " id="playerActionButtons">
                    <a class="button" id="play" href="javascript:void(0);" title=""><i
                        class="small material-icons" id="playIcon">play_arrow</i>
                    </a>
                    <a class="button" id="pause" href="javascript:void(0);" title=""><i
                        class="small material-icons" id="stopIcon">stop</i></a>
                </div>
                <div class="col s8 m8 l8" id="seekContainer">
                    <input type="range" id="seek" value="0" max="" min="0"/>
                </div>
                <div id="closePlayerContainer" class="col s2 m2 l2">
                    <a class="button" id="closePlayer" href="javascript:void(0);" title=""><i
                        class="small material-icons" id="closeIcon">close</i></a>
                </div>
            </div>
        </div>
    </div>
</div>
