.container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 75px;
  background-color: #29b6f6;
  box-sizing: border-box;
  border-radius: 5px;
  display: none;
  z-index: 99999999;

}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
}
.player {

  position: absolute;
  width: 300px;
  bottom: 10px;
  width: 95%;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
}
.button {
  color: white;
}

.player-action-buttons {
  margin-top: 5px;
}

.player-action-buttons .button {
  float: right;
}
#seekContainer {
  position: relative;
}
#pause {
  display: none;
  color: white;
}

#closePlayerContainer {
  margin-top: 5px;
}

#closePlayerContainer .button {
  margin-right: 5px;
}
