<div id="{{ id }}" class="modal">

    <div class="navbar-fixed">
        <nav class="row">
            <div class="modal-title col s10 m10 l10">{{ title }}</div>
            <a href="javascript:void(0);" class="modal-action modal-close right-align col s2 m2 l2" aria-label="Fechar">
                <i class="material-icons" aria-hidden="true">close</i>
            </a>
        </nav>
    </div>

  <div class="modal-content">
    <div class="collection">
      <a href="javascript:void(0);" *ngFor="let item of orderList"
         class="collection-item"
         [ngClass]="{ 'active-order': item.active }"
         (click)="chooseOrder(item.value)"
         [innerHTML]="item.display" ></a>
    </div>
  </div>
</div>
