#chat {
    position: fixed;
    background-color: black;
    opacity: 0.8;
    z-index: 999999;
}
.chat-corner-resize {
    position: absolute;
    width: 10px;
    height: 10px;
}
#chat-top-left-resize { top: 0px; left: 0px; }
#chat-top-right-resize { top: 0px; right: 0px; }
#chat-bottom-left-resize { bottom: 0px; left: 0px; }
#chat-bottom-right-resize { bottom: 0px; right: 0px; }
