<div class="user-view center">
  <div class="row">
    <div class="col s3 m4 l4">
      <img class="circle" [src]="userLoggedFields.user_photo_url" onError="this.src='assets/images/blank_avatar.png'" aria-label="Avatar" [attr.aria-hidden]="aria">
    </div>
    <div class="col s9 m8 l8">
      <div>
        <span class="black-text truncate" aria-label="Nome do usuario" [attr.aria-hidden]="aria">{{ userLoggedFields.user_name }}</span>
      </div>
      <div>
        <span class="black-text truncate" aria-label="Login" [attr.aria-hidden]="aria">{{ userLoggedFields.login }}</span>
      </div>
    </div>

  </div>
</div>
