<app-actionbar-reader [hidden]="isScribble"></app-actionbar-reader>

<app-actionbar-canvas [hidden]="!isScribble"></app-actionbar-canvas>
<div class="fakeloader" [hidden]=false></div>
<a href="javascript:void(0)"
    id="annotationMarker"
    *ngIf="client == 'alfacon' && isAnnotationCountVisible"
    (click)="openExternalAnnotationOnTopic()"
    class="btn-floating btn waves-effect waves-light light-blue annotations">
    {{ externalNotesCount }}
</a>

<app-legacy-book-slider></app-legacy-book-slider>

<app-toolbar-reader [hidden]="isScribble"></app-toolbar-reader>

<app-toolbar-canvas [hidden]="!isScribble"></app-toolbar-canvas>
