<a href='javascript:void(0)' class="dropdown-button" [id]="id" [attr.data-activates]="idContent"
   aria-label="Opções">
  <i class="material-icons waves-effect" aria-hidden="true">more_vert</i>
</a>
<ul [id]="idContent" class="dropdown-content">
  <li>
    <a href='javascript:void(0);' (click)="Action('managementSpace')" aria-label="Limite de uso de espaço">
      Limite de uso de espaço
    </a>
  </li>
</ul>
