<div [hidden]="tapped">
<footer class="page-footer light-blue lighten-1">

  <div class="container flow-text"  >

    <div class="row" style="height: 56px;">

      <!-- <div class="col s2 center-align"> -->
      <!--<div class="col s5ths m5ths l5ths xl5ths center-align">-->
        <!--<a href='javascript:void(0);' class="white-text" aria-label="Sumário de capítulos e tópicos">-->
          <!--<i class="material-icons" aria-hidden="true">list</i>-->
        <!--</a>-->
      <!--</div>-->

      <!--<div class="col s5ths m5ths l5ths xl5ths center-align">-->
        <!--<a href='javascript:void(0);' class="white-text" aria-label="Ir para uma página">-->
          <!--<i class="material-icons" aria-hidden="true">view_carousel</i>-->
        <!--</a>-->
      <!--</div>-->

      <!--&lt;!&ndash; <div class="col s2 center-align"> &ndash;&gt;-->
      <!--<div class="col s5ths m5ths l5ths xl5ths center-align">-->
        <!--<a href='javascript:void(0);' class="white-text" aria-label="Notas">-->
          <!--<i class="material-icons" aria-hidden="true">note_add</i>-->
        <!--</a>-->
      <!--</div>-->

      <!--<div class="col s5ths m5ths l5ths xl5ths center-align">-->
        <!--<a href='javascript:void(0);' class="white-text" aria-label="Professor">-->
          <!--<i class="material-icons" aria-hidden="true">layers</i>-->∑
        <!--</a>-->
      <!--</div>-->

      <!--<div class="col s5ths m5ths l5ths xl5ths center-align">-->
        <!--<div class="col s3 m3 center-align">-->
          <!--<a href='javascript:void(0);' (click)="openCortina()" class="white-text" aria-label="Apresentação">-->
            <!--<img src="assets/images/modal-rc.png" alt="Rabisco e Cortina" title="Abrir modal rabisco e cortina">-->
          <!--</a>-->
        <!--</div>-->
        <!--<a href='javascript:void(0);' class="white-text" aria-label="Apresentação">-->
          <!--<i class="material-icons" aria-hidden="true">tv</i>-->
        <!--</a>-->

    </div>

  </div>

</footer>
</div>
<app-summary></app-summary>
<app-annotation></app-annotation>
<app-pagination></app-pagination>
<app-teacher-layer></app-teacher-layer>
<app-presentation></app-presentation>
<app-curtain-scribble></app-curtain-scribble>
