<blockquote class="center" *ngIf="!isPageLoaded">
    Iniciando leitor...
</blockquote>
<div id='page-slider'>
    <div class="imageContainer">
        <img [src]='pageImage' width="100%" id='page' alt="pagina" [hidden]="!isPageLoaded">
        <img [src]='pageTeacherImage' [hidden]=true width="100%" height="{{pageTeacherImageHeight}}" id='pageTlayer' alt="ImagemCamada">
        <app-scribble *ngIf="isScribble"></app-scribble>
        <app-legacy-hotspot-container></app-legacy-hotspot-container>
        <div class='markerContainer' [hidden]="!isPageLoaded">
            <app-page-marker></app-page-marker>
        </div>
    </div>
    <app-audio-player></app-audio-player>
</div>
<app-curtain-component></app-curtain-component>
<app-media></app-media>
