<div id="{{ id }}" class="modal">
    <div class="navbar-fixed">
        <nav class="row">
            <div class="modal-title col s10 m10 l10">{{ title }}</div>
            <a href="javascript:void(0);" class="modal-action modal-close right-align col s2 m2 l2" aria-label="Fechar">
                <i class="material-icons" aria-hidden="true">close</i>
            </a>
        </nav>
    </div>
  <div class="modal-content">
    <div class="row">


        <div class="col s12 m12 l12">
            <label>Tamanho da fonte</label>
        </div>

        <div class="fontButtons col s12 m12 l12">
            <ul role="tree" aria-activedescendant="increment">
                <li role="treeitem">
                    <a role="presentation" href="javascript:void(0);" id='increment' (click)="increment() " class="btn-floating blue waves-effect" aria-label="Aumentar tamanho da fonte">
                        <i class="material-icons" aria-hidden="true">add</i>
                    </a>
                </li>
                <li role="treeitem">
                    <a role="presentation" href="javascript:void(0);" id='reset' (click)="reset()" class="btn-floating blue waves-effect" aria-label="Tamanho original da fonte">
                        <i class="material-icons" aria-hidden="true">restore</i>
                    </a>
                </li>
                <li role="treeitem">
                    <a role="presentation" href="javascript:void(0); " id='decrement' (click)="decrement()" class="btn-floating blue waves-effect" aria-label="Diminuir tamanho da fonte">
                        <i class="material-icons" aria-hidden="true">remove</i>
                    </a>
                </li>
            </ul>
        </div>

        <form #accessibleForm novalidate>
          <div class="col s12">
            <label>Família da fonte</label>
            <select class='center' #selectedFontFamily name="selectedFontFamily">
              <option *ngFor="let fontFamily of fontFamilies" [value]="fontFamily | json">
                {{ fontFamily.label }}
              </option>
            </select>
          </div>
          <div class="col s12">
            <label>Tema</label>
            <select class="center" #selectedTheme name="selectedTheme" id="selectedTheme">
              <option *ngFor="let theme of themes" [value]='theme | json' [selected]="theme.label==='Padrão'">
                {{ theme.label }}
              </option>
            </select>
          </div>
          <div class="col s12 center-align">
            <button class="btn waves-effect" type="button" (click)="submit(selectedFontFamily.value, selectedTheme.value)">Aplicar</button>
          </div>
        </form>
    </div>
  </div>
