#legacyActionBar {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
#searchField {
    margin-top: 0.1rem;
}
#bookTitle {
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  font-size: 1.36em;
}

/** Input colors */

/* label color */
.input-field label {
    color: white;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: white;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 gainsboro;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

.input-field label {
    color:white;
    font-style: italic;
}
/** Input colors */
