<div [id]="id" class="modal modal-fixed-footer">
    <form  [formGroup]="formFilter" (ngSubmit)="onSubmit(formFilter.value)">
        <div class="navbar-fixed">
            <nav class="row">
                <div class="modal-title col s10 m10 l10">{{ title }}</div>
                <a href="javascript:void(0);" class="modal-action modal-close right-align col s2 m2 l2" aria-label="Fechar">
                    <i class="material-icons" aria-hidden="true">close</i>
                </a>
            </nav>
        </div>

        <div class="modal-content">

            <ul class="collection with-header">
                <li class="collection-item" *ngFor="let disciplineItem of disciplines.controls; let i=index">
                    <input type="checkbox" [formControl]="disciplineItem" [id]="'item' + i">
                    <label [for]="'item' + i" [innerHTML]="disciplineList[i].name"></label>
                </li>
            </ul>
            <br>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Filtrar</button>
            <button type="reset" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
        </div>
    </form>
</div>
