<footer class="page-footer light-blue lighten-1" [hidden]="hiddenToolbar">
    <div class="footer container">

        <div class="row">

            <div class="col s6 center-align">
                <a href="javascript:void(0);" class="white-text" (click)="openDefaultFilter()" aria-label="Filtro">
                    <i class="material-icons" aria-hidden="true">filter_list</i>
                </a>
            </div>

            <div class="col s6 center-align">
                <a href="javascript:void(0);" class="white-text" (click)="openOrderFilter()" aria-label="Ordenamento">
                    <i class="material-icons" aria-hidden="true">format_line_spacing</i>
                </a>
            </div>
        </div>
    </div>
</footer>
<app-shelf-component-reorder-modal></app-shelf-component-reorder-modal>
<app-shelf-component-filter-modal></app-shelf-component-filter-modal>
